@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}
.body{
    background: url("../logo.jpg") ;
    min-height: 100vh;
    background-color: red;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#board{
    background:linear-gradient(green,pink); 
     background:url("../bc.jpg")  ;  
    width: 90vmin;
    height: 92vmin;
    background-repeat: no;
    border: 5px solid white;
    display: grid;
    grid-template-rows:repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
    
}
.head{
    background:linear-gradient(yellow
    ,black
    );
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 20px;
    /* border-right: */
}
.food{
    background:linear-gradient(red,black);
    border: .25vmin solid black;
    border-radius: 8px;
}
#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}
#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}
.snake{
    background:linear-gradient(white
    red);
    border: .25vmin solid white;
    border-radius: 20px;
}
#name{
    position: absolute;
    left: 9px;
    color: white;
	font-size: 60px;
	-webkit-text-stroke: 1px #23430C;
	text-shadow: -1px 1px 2px #23430C,
				  1px 1px 2px #23430C,
				  1px -1px 0 #23430C,
				  -1px -1px 0 #23430C;
    
}
